html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .bg-cities{
    background-image: url(./assets/backCities.jpg);
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundCities{
    background-color: rgb(194, 103, 0) !important;
}

  .contenedor-ciudades{
      display: flex;
      justify-content: center;
      align-items: center;
  }

 .imagen{
     height: 25vh;
     width: 25vw;
     box-sizing: border-box;
     border-radius: 10px;
     object-fit: cover;
     display: flex;
     justify-content: center;
     align-items:baseline;     
 }

 .card-imagen{
     height: 35vh;
     width: 25vw;
     margin: 2rem;
     background-color: rgba(245, 179, 13, 0.795);
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .itinerariesAll{
     display: flex;
     align-items: center;
     justify-content:center;
     background-color: rgba(255, 166, 0, 0.555);
     flex-direction: column;
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
     
 }

 .macaGrax{
     display: flex;
     flex-direction: row;
 }

 .buttons-back{
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 .card-iti{
     width: 70%;
     background-color: rgb(250, 224, 175);
     margin: 2rem;
     
 }

 .conteinerCardBody{
     width: 100%;
     padding:0;
 }

 .image-card-iti{
 width: 13vw;
 height: 25vh;
 object-fit: cover;
 margin-right: 1.5rem;
 margin-left: 0;
 border-radius: 50%;
 }

 .card-iti-content{
     display: flex;
     justify-content: center;
     align-content: space-between;
 }

 .user{
     font-weight: bolder;
 }

 .name-only{
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1rem;
    border-radius: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
 }

.body-content{
     display: flex;
    align-content: center;
    justify-content: space-around;

}

.hashtags{
    margin-left: 1.5rem;
}

 .title-iti{
     display: flex;
     justify-content: center;
 }

 .card-imagen:hover{
     background-color: rgb(255, 94, 0);
 }

 .backCities{
     text-decoration: none;
     font-size: 1rem;
     margin: 2rem;
     color:black;
    box-sizing: border-box;
    border: solid 2px rgb(243, 106, 15);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 173, 21, 0.507);
 }

 .backCities:hover{
     background-color: rgb(255, 94, 0);
 }

 .textErr{
     margin: 2rem;
     box-sizing: border-box;
     border: solid 1px black;
     border-radius: 10px;
     padding: 8px;
     background-color: rgba(243, 187, 82, 0.507);
 }
 
 .card-header{
display: flex;
justify-content: center;
align-content: center;
margin: 0.5rem;
font-weight: bolder;
background-color: rgb(255, 128, 0);
 }

 .user{
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
 }

.card-body{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

 .imgOnly{
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 0;
   object-fit: cover;
   object-position: 50%;
   background-repeat: no-repeat;

 }

 .navCityBg{
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

.card-ciudad{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

 .citiesTitle{
     font-size: 5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    
 }

 .itineraries-title{
     display: flex;
     justify-content: center;
     align-content: center;
     background-color: rgba(255, 166, 0, 0.596);
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
     padding-top: 1rem;
 }

 .nameCity{
     font-size: 2vw;
     text-decoration: none;
     color:black;

 }

 .underConst{
     margin: 1rem;
    
 }

.popular{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pageCities{
    background-color: rgb(226, 214, 190);
}

.pagePad{
    padding: 10px;
}

.searcher{
    display: flex;
    justify-content: center;
}

.bg-image{
    background-image: url(./assets/background.jpg);
    height: 118vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bgCity{
    background: rgb(250,255,163);
background: linear-gradient(90deg, rgba(250,255,163,1) 0%, rgba(244,199,132,1) 29%, rgba(255,187,98,1) 59%, rgba(252,195,69,1) 100%);
    
}

.textHero{
 color: rgb(0, 0, 0);
 display: flex;
 justify-content: center;
 flex-direction: column;
 font-size: 5vw;
 font-weight: 400;
 margin-bottom: 0;
 text-align: center;
 padding-top: 20vh;
}

.navbarCon{
 padding-left: 60vw;
}

.navText{
    font-size: 2vw;
    margin: 1vw;
}

.navIcon{
    display: flex;
    justify-content: flex-start !important;
}

.colorText{
color: white
}

#basic-nav-dropdown{
    color: white;
}

.logoText{
display: flex;
flex-direction: row;
}

.tarjeta{
    height: 40vh;
    width: 97%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 230, 146);
    padding: 10px;
}

.tarjeta-img{
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    object-fit: cover;
}

.contenedorSlider{
    background-color: rgba(245, 179, 13, 0.795);
    height: 100vh;
}

.titleMR{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    font-size: 1.5rem;
}

.cityConteiner{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.noItiMess{
margin: 1rem;
box-sizing: border-box;
border: 2px solid orangered;
padding: 0.5rem;
display: flex;
justify-content: center;
align-content: center;
background-color: rgb(255, 235, 122);
}

.linkCity{
    text-decoration: none;
}

.colorBgNav{
   background: transparent !important;
   display: flex;
   justify-content: space-evenly;
}

.colorFooter{
    background: rgb(255,158,30);
    background: linear-gradient(90deg, rgba(255,158,30,1) 0%, rgba(255,211,63,1) 29%, rgba(254,252,116,1) 59%, rgba(252,195,69,1) 100%);
    display: flex;
    justify-content: space-evenly;
 }

.linkText{
    font-size: 1.5vw;
    color:black;
}

.fooText{
    text-decoration: none;
    padding: 0 2vw;
    font-size: 2vw;
    color:black;
}

.buttonText{
    background-color: rgba(245, 179, 13, 0.795);
    border-color: none;
    color: black;
    font-size: 2vw;
}

.buttonText:hover{
    background-color: rgba(58, 236, 227, 0.678);
}

.textTin{
    margin-top: 0vh;
    margin-bottom: 20vh;
    font-size: 6vw;
    color:white;
    
}

.textFrase{
    margin: 5vw;

}

.textOnly{
    margin-bottom: 2vw;
    font-size: 2.5vw;
}

.inputFilter{
    padding: 5px;
    display: flex;
    width: 40vw;
    border: 1px solid  rgba(245, 179, 13, 0.795);
    box-sizing: border-box;
    border-radius: 4px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.backgroundSign{
    background-image: url(./assets/palm.jpg);
    height: 110vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.cardSign{
    background-color: rgba(23, 255, 120, 0.616);
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    color: white;
    font-size: 1.5vw ;
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: white;
    margin: 1rem;
}

.titleSignIn{
    font-size:2.5vw;
    box-sizing: border-box;
    border: white solid 2px;
    border-radius: 5px;
}

.linkSignIn{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border: white 2px solid;
    background-color: rgba(255, 255, 255, 0.253);
}

.inputsSignIn{
    display: flex;
    flex-direction: column;
}

.propsSignIN{
    display: flex;
    flex-direction: column;
    color: white;
}

.bodyFormSU{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}

.labelSU{
    display: flex;
    justify-content: space-around;
}

.labelCountry{
    display: flex;
    justify-content: space-around;
}

.buttonsSignUp{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    }

.signGoogle{
    margin-top: 1rem;
}

@media (max-width:990px){
    .navText{
        font-size: 2rem;
    }
    .fooText{
        font-size: 1.5rem;
    }
    .textOnly{
        font-size: 4.5vw;
    }.buttonText{
        font-size: 3vw;
    }
    .imgOnly{
        width: 100%;
        height: 50vh;
        }
    }

    @media (max-width:750px){
        .textTin{
            font-size: 8vw;
        }
        .textFrase{
            font-size: 6vw;
        }
        .textOnly{
            font-size: 6vw;
        }
        .buttonText{
            font-size: 4vw;
        }
        .linkText{
            font-size: 3vw;
        }
       .imagen{
        width: 30vw;
        }
        .card-imagen{
            width: 30vw;
            }
       .nameCity{
                font-size: 3vw;
        }
    }

    @media (max-width:450px){
        .textTin{
            font-size: 10vw;
        }
        .textFrase{
            font-size: 8vw;
        }
        .imgOnly{
            width: 100%;
            }
        .image-card-iti{
            width: 30vw;
            height: 5vh;
        }

    }

    @media (max-width:799px){
        .contenedorSlider{
        height: 180vh;
        }
        .imgOnly{
        width: 100%;
        }
        .card-iti-content{
            display: flex;
            flex-direction: column;
        }
        .image-card-iti{
            width: 18vw;
            height: 20vh;
        }
        }

    @media (max-width:599px){
        .card-ciudad{
            display: flex;
            flex-direction: column;
        }
        .imagen{
            width: 50vw;
        }
        .card-imagen{
            width: 50vw;
        }
        .nameCity{
            font-size: 4vw;
        }  
        .imgOnly{
        width: 100%;
        }
        
    }

    @media (max-width:650px){
        .image-card-iti{
            width: 20vw;
            height: 18vh;
        }
    }