html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 10px;
    height: 10px;
    color: tomato;
    background-color: rgb(124, 70, 0);
    padding: 20px;
    border-radius: 10px;
}

.cardImg {
width: 100% !important;
height: 70%;
object-fit: cover;
}


.allCards{
    height: 50vh;
    width: 40vw;
}


.carouselComp{
    background-color: rgb(255, 168, 38);
    padding: 3rem;
}

.bodyOfCard{
    background-color: rgb(252, 212, 113);
}

.bg-image{
    background-image: url(./assets/background.jpg);
    height: 95vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.textHero{
 color: rgb(0, 0, 0);
 display: flex;
 justify-content: center;
 flex-direction: column;
 font-size: 5vw;
 font-weight: 400;
 margin-bottom: 0;
 text-align: center;
 padding-top: 20vh;
}

.navbarCon{
 padding-left: 60vw;
}

.navText{
    font-size: 2vw;
    margin: 1vw;
    
}

.navIcon{
    display: flex;
    justify-content: flex-start !important;
}

.colorText{
color:rgb(0, 0, 0)
}

#basic-nav-dropdown{
    color: black;
}

.logoText{
display: flex;
flex-direction: row;
}

.carousel_title{
    background-color: rgb(255, 230, 146);
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-style: normal;
}

.colorBgNav{
    background-color:rgb(255, 230, 146) ;
    display: flex;
    justify-content: space-evenly;
}

.linkText{
    text-decoration: none;
    padding: 0 2vw;
    font-size: 2vw;
    color:black;

}

.buttonText{
    background-color: rgba(245, 179, 13, 0.795);
    border-color: none;
    color: black;
    font-size: 2vw;
}

.buttonText:hover{
    background-color: rgba(58, 236, 227, 0.678);
}

.textTin{
    margin-top: 0vh;
    margin-bottom: 20vh;
    font-size: 6vw;
    color:white;
    
}

.textFrase{
    margin: 5vw;

}

.textOnly{
    margin-bottom: 2vw;
    font-size: 2.5vw;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

@media (max-width:990px){
    .navText{
        font-size: 2rem;
    }
    .linkText{
        font-size: 1.5rem;
    }
    .textOnly{
        font-size: 4.5vw;
    }.buttonText{
        font-size: 3vw;
    }
    }

    @media (max-width:750px){
        .textTin{
            font-size: 8vw;
        }
        .textFrase{
            font-size: 6vw;
        }
        .carousel_title{
            font-size: 5vw;
        }
        .textOnly{
            font-size: 6vw;
        }.buttonText{
            font-size: 4vw;
        }
    }

    @media (max-width:450px){
        .textTin{
            font-size: 10vw;
        }
        .textFrase{
            font-size: 8vw;
        }
        .carousel_title{
            font-size: 6vw;
        }

    }

    @media (max-width:1200px){
        .allCards{
            height: 40vh;
            width: 70vw;
        }
        
        }
